nav {
  background-color: #002987;

  a {
    color: #fff;
    padding: 20px 50px;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    border-right: 1px solid green;
  }
}